.language-jsx .tag {
    border: initial;
    display: initial;
    align-items: initial;
    height: initial;
    border-radius: initial;
    padding: initial;
    background: initial;
    box-shadow: initial;
    gap: initial;
  }